<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script>
      
        //document.querySelector(".error").innerHTML="kumar";
        window.location='/login';

    </script>
  </body>
</html>
