
body {
   background-color: rgb(202, 252, 201);
}

.lead{
  font-weight: 300;
}
.centered {
    padding-top: 200px;
    text-align: center;
}
.highlight{
  color:#07ee07;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

textarea[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn1{
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
}
.btn {
  background-color: #4CAF50;
  color: white;
  margin: 8px 0 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.low{
   border: 1px solid black;
   box-shadow: 5px 5px 7px rgb(23,195,207);
   border-radius: 20px;
   background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
    font-family: 'Kalam', cursive;
    font-size: 20px;
   color: black;
   flex-basis: 25%;
   margin: 5px;
   text-align: center;
   flex-grow: 1;
}
.list{
  display: flex;
  flex-wrap: wrap;
}

.outer{
  display: flex;
  justify-content: center;
}

.most{
  display: flex;
}
  /* .inner-low{
    display: flex;
    justify-content: space-between;
  } */
/* .log{
  position: absolute;
  top: 5px;
  margin-left: 1200px;

} */
